@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* w-max for width: fit-content */
    .fullscreen {
        @apply w-screen h-screen  bg-bodycol;
    }
    .content {
        @apply px-5 py-14 md:pt-24 bg-bodycol text-cocowhite;
    }
    .navbar {
        @apply p-2 md:p-5 bg-headercol text-cocowhite w-screen;
    }
    .navlink {
        @apply mx-2 text-sm sm:text-xl sm:pt-2 md:text-2xl md:mx-5  inline font-bold;
    }
    .hreflink {
        @apply underline text-blue-300;
    }
    .respdiv {
        @apply max-w-xs sm:max-w-sm md:max-w-lg;
    }
    .sub-heading {
        @apply text-xl md:text-3xl;
    }
    .icon {
        @apply mx-3 h-10 w-10;
    }
}

.link {
    cursor: pointer;
}
