@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* w-max for width: fit-content */
    .fullscreen {
        @apply bg-bodycol min-h-screen;
    }
    .content {
        @apply px-5 mobile:py-16 py-24 md:py-44 lg:py-32 bg-bodycol text-cocowhite;
    }
    .app-header {
        z-index: 99999;
    }
    .navbar {
        @apply p-2 md:p-5 w-full bg-headercol text-cocowhite;
    }
    .navlink {
        @apply mx-2 text-sm sm:text-xl sm:pt-2 md:text-2xl md:mx-5  inline font-bold;
    }
    .hreflink {
        @apply underline text-blue-300;
    }
    .respdiv {
        @apply max-w-xs sm:max-w-sm md:max-w-lg;
    }
    .sub-heading {
        @apply text-xl md:text-3xl;
    }
    .icon {
        @apply mx-3 h-10 w-10;
    }
    .typeform {
        height: 500px;
        width: 300px;
        z-index: 999;
        @media only screen and (min-width: 768px) {
            margin-top: -40px;
            width: 100%;
            height: 550px;
        }
    }
}

.link {
    cursor: pointer;
}
